<h3> TinyApp </h3>

<% if (username){ %>
  <%= username %>
<% } else { %>
  <form method="POST" action="/login">
    <INPUT type="text" name="username">
    <INPUT TYPE="SUBMIT" NAME="button" Value="Submit"/>
  </form>
<% } %>


