<h3> TinyApp </h3>

<% if (user){ %>
    <form method="POST" action="/logout" style="display:inline">
      <INPUT TYPE="SUBMIT" NAME="button"  Value="Logout"/>
    </form>
  <% } else { %>
    <a href="/login">Login</a> | <a href="/register">Register</a> |
   <% } %>
   <a href="/u"> Public Index</a>




