<h3> TinyApp </h3>

<% if (user){ %>
    <%= user %>
    <form method="POST" action="/logout" style="display:inline">
      <INPUT TYPE="SUBMIT" NAME="button"  Value="Logout"/>
    </form>
  <% } %>


