<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
    <% include ./partials/_head %>
</head>
<body>
    <!-- Add your EJS code here -->

    <header>
      <% include ./partials/_header %>
    </header>
    <div style="padding-top: 50px" align="center">
      <h3> Welcome to the best link-shortening site around!</h3><br>

      <p>Login to create, edit, and access your own links or <br> view the public index for a list of links created by other users</p>
    </div>

</body>
</html>