<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
    <!-- Add your EJS code here -->

    <header>
        <% include ./partials/_header %>

    </header>

    <ul>
      <% Object.keys(urls).forEach(function(key) { %>

        <li>

          <%= key %> --> <%= urls[key] %>

          <a href="/urls/<%=key%>" style="padding-left:15px; padding-right:15px">Edit</a>

          <form method="POST" action="<%=`/urls/${key}/delete`%>" style="display:inline">
          <INPUT TYPE="SUBMIT" NAME="button" Value="Delete" class="btn btn-primary"/>
          </form>

        </li>

      <% });%>

    </ul>

    <a href="/urls/new/">Shorten a Link Here</a>
</body>
</html>