<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">To level up in the game of TinyApp, you must enter a URL link</label>
      <input id="longURL" type="text" name="longURL" value="https://www." style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>