<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<body>
    <!-- Add your EJS code here -->

    <header>
        <% include ./partials/_header %>
    </header>


    <h5>ShortURL: <%=shortURL %></h5>
    <form method="POST" action="<%=`/urls/${shortURL}/`%>">
          <INPUT TYPE="text" name="newName" value="<%=fullURL %>" size=40/>
          <INPUT TYPE="SUBMIT" NAME="button" Value="Update"/>
    </form>

</body>
</html>